* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

#output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(25vw - 32px);
    border: 1px dashed black;
    border-radius: 3px;
    padding: 8px;
    min-height: 450px;
    margin: 16px;
}

.card .head {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .card .head .data {
        flex: 1;
    }

    .card .head .health-container {
        height: 16px;
        width: 16px;
        border-radius: 100%;
        border: 1px solid black;
        display: inline-block;
        margin: 0 8px;
    }

.card .body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .card .body .picture {
        flex: 1;
        border: 1px dotted black;
        margin: 8px 0;
        padding: 8px;
    }

    .card .body .text {
        min-height: 64px;
    }

@media print {
    .hide-print { 
        display: none;
    }

    .card {
        margin: 0;
        width: calc(100vw / 3);
        min-height: auto;
        height: calc(100vh / 3);
        border-radius: 0;
    }
}

@page {
    margin: 0.20in;
}
